.hightlight {
    background-color: #80c0b5;
  }
  
  .navbar-style {
    background-color: #452d2d !important;
  }

  .count-color{
    color: #452d2d !important;
  }
  
  .green-highlight {
    color: #76d320;
    font-size: 40px;
  }
  
  .red-highlight {
    color: #ff0000;
    font-size: 25px;
  }
  
  .hand-icon {
    cursor: pointer;
  }